{% extends "front/index.html" %}

{% block content %}
<nav class="breadcrumb-container">
	<div class="nav-wrapper">
		<div class="col s12">
			<a href="#!" class="breadcrumb">Anasayfa</a>
			<a href="#!" class="breadcrumb">Günlük Girdi/Çıkıtı Grafiği</a>
		</div>
		<div class="col s12">
			<div class="nav-small-text">
				yapılan son değişikliklere göre grafik seviyesi değişebilir
			</div>
		</div>
	</div>
</nav>
<br>
<br>
<div class="row">
	<div class="col s6 m6">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{assets('img/az_stok.jpg')}}">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>2. Depo 12.raf üzerinde bulunan xxx ürünü stokta az kalmıştır</p>
				</div>
				<div class="card-action">
					<a href="#">İncelemek İçin</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s6 m6">
		<div class="card horizontal">
			<div class="card-stacked">
				<div class="card-content">
					<p>2. Depo 12.raf üzerinde bulunan xxx ürünü stokta az kalmıştır</p>
				</div>
				<div class="card-action">
					<a href="#">İncelemek İçin</a>
				</div>
			</div>
			<div class="card-image">
				<img src="{{assets('img/az_stok.jpg')}}">
			</div>
		</div>
	</div>
</div>
{% endblock %}