<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ayarlar.site_aciklama}}">
	<meta name="keywords" content="{{ayarlar.anahtar_kelimeler}}">
	<title>
		{% set _title = block('title') %}
		{% if _title is empty %}
			{{ayarlar.baslik}}
		{% endif %}
	</title>
	{% block css %}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="{{assets('plugins/materialize/css/materialize.min.css')}}" rel="stylesheet" />
		<link href="{{assets('css/style.css')}}" rel="stylesheet" />
    {% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header class="teal" role="navigation">
	<div class="nav-wrapper container">
		<div class="row">
			<a id="logo-container" href="#" class="brand-logo">Mini Stok<span>uygulaması</span></a>
			<div class="shortcuts">
				<a class="waves-effect waves-light btn btn-floating "><i class="material-icons left">notifications</i>button</a>
				<a class="waves-effect waves-light btn btn-floating "><i class="material-icons left">email</i>button</a>
				<a class="waves-effect waves-light btn btn-floating "><i class="material-icons left">backup</i>button</a>
			</div>

			<div class="search-box col s6 offset-s3" >
				<nav>
					<div class="nav-wrapper">
						<form>
							<div class="input-field">
								<input id="search" type="search" placeholder="Barkod yada Ürün Adı" required>
								<label for="search"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</div>
				</nav>
			</div>
			<div class="right user-login">
				<div class="chip">
					<img  src="{{assets('img/john.png')}}" alt="Contact Person">
					Ahmet Düzgidenoğuları
				</div>
			</div>
		</div>
	</div>
</header>
<div class="section no-pad-top" id="index-banner">
	<div class="container">
		<div class="row">
			<div class="col s2 no-pad-left no-pad-right">
				<div class="collection">
					<a href="#!" class="collection-item">
						<i class="material-icons left">home</i>Anasayfa
					</a>
					<a href="#!" class="collection-item">
						<i class="material-icons left">local_offer</i>Ürünler
					</a>
					<a href="#!" class="collection-item">
						<i class="material-icons left">assignment</i>Girdiler/Çıktılar
					</a>
					<a href="#!" class="collection-item">
						<i class="material-icons left">attach_money</i>Borçlar
					</a>
					<a href="#!" class="collection-item">
						<i class="material-icons left">assessment</i>Raporlar
					</a>
				</div>
			</div>
			<div class="col s10 content">
			{%block content%}

			{%endblock%}
			</div>
		</div>
	</div>

</div>
<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Company Bio</h5>
				<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>

{% block js %}
	<script src="{{assets('js/jquery-3.1.0.min.js')}}"></script>
	<script src="{{assets('plugins/materialize/js/materialize.min.js')}}"></script>
{% endblock %}
</body>
</html>